doctype html
head
  meta(charset='utf-8')
  meta(name='description' content='View my artwork online')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Ron Boehm's Artwork
  link(rel='apple-touch-icon' sizes='152x152' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#ffffff')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')

  meta(property='og:image:width' content='183')
  meta(property='og:image:height' content='183')
  meta(property='og:title' content="Ron Boehm's Artwork")
  meta(property='og:description' content='View my artwork online')
  meta(property='og:url' content='https://ronboehm.art/')
  meta(property='og:image' content='https://ronboehm.art/images/og-image.jpg')

  // build:css styles/main.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild
  
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400|Rock+Salt')
  //- Other options:
  //- https://fonts.google.com/selection?query=raleway&category=Serif,Sans+Serif&selection.family=Abril+Fatface|Pinyon+Script|Poiret+One|Rock+Salt

body
  header.info
    h1 Ron Boehm
    .contact
      | &#097;&#098;&#115;&#116;&#114;&#097;&#099;&#116;&#115;&#098;&#121;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
      a(href='tel:7012829297') 701.282.9297
  main.art
    -
      var art = [
        {
          'title': 'Rejuvenated Red',
          'img': '20180711_094717.jpg'
        }, {
          'title': 'Seasonal Progression #1',
          'img': '20180711_110523.jpg'
        }, {
          'title': 'Seasonal Progression #2',
          'img': '20180711_110532.jpg'
        }, {
          'title': 'Pin-Jack-Color -Iti #2',
          'img': '20180711_110637.jpg'
        }, {
          'title': 'Textured Diptych #1',
          'img': '20180711_110731.jpg'
        }, {
          'title': 'Textured Diptych #2',
          'img': '20180711_110801.jpg'
        }, {
          'title': 'White Flower Unraveling',
          'img': '20180711_112349.jpg'
        }, {
          'title': 'SOLD',
          'img': '20180719_114245.jpg'
        }, {
          'title': 'Seed, Farmer, Gatherers',
          'img': '20180724_140237.jpg'
        }, {
          'title': 'Iridescent Primaries Shattered',
          'img': '20180729_115211.jpg'
        }, {
          'title': 'Conning and A Little Conniving',
          'img': '20180827_125613.jpg'
        }, {
          'title': 'Splintered Primaries',
          'img': '20180827_125717.jpg'
        }, {
          'title': 'Pin-Jack-Color',
          'img': '20180827_125750.jpg'
        }, {
          'title': 'Hard and Soft Levels of Primary Colors',
          'img': '20180827_130017.jpg'
        }, {
          'title': 'Country Dive – Jewelry Ladies Series',
          'img': '20181126_160321.jpg'
        }, {
          'title': 'Spirit Lady – Jewelry Ladies Series',
          'img': '20181126_160417.jpg'
        }, {
          'title': 'That\'s A Thought – Jewelry Ladies Series',
          'img': '20181126_160438.jpg'
        }, {
          'title': 'Just a Moment – Jewelry Ladies Series',
          'img': '20181126_160450.jpg'
        }, {
          'title': 'Nostalgic – Jewelry Ladies Series',
          'img': '20181126_160512.jpg'
        }, {
          'title': 'Country Diva – Jewelry Ladies Series',
          'img': '20181126_160532.jpg'
        }, {
          'title': 'Village Watcher',
          'img': '20181203_105834.jpg'
        }, {
          'title': 'Migraine and the Jewelry Lady or Mother of a Teenager',
          'img': '20181221_162030.jpg'
        }, {
          'title': 'White Flower',
          'img': 'Boehm-Ron-White-Flower.jpg'
        }, {
          'title': 'White Shed',
          'img': 'Boehm-Ron-White Shed-image09.jpg'
        }, {
          'title': '20171210_104946',
          'img': '20171210_104946.jpg'
        }, {
          'title': '20171209_094725',
          'img': '20171209_094725.jpg'
        }
      ]
    each item in art
      figure(id= encodeURI(item.title))
        img.gallery(src='images/art/' + item.img)
        figcaption= item.title

  <!--[if lt IE 10]>
  p.browserupgrade
    | You are using an outdated browser.
    | Please #[a(href='http://browsehappy.com/' target='_blank') upgrade your browser]
    | to improve your experience.
  <![endif]-->
  
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-134747271-1');ga('send','pageview');
