.browserupgrade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25rem 0;
  color: #721c24;
  background-color: #f8d7da;
  border-bottom: 1px solid #f5c6cb;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  z-index: 5;
  a { text-decoration: underline; }
}

.gallery {
  height: auto;
  max-height: calc(100vh - calc(1rem + #{$caption-fontSize} * #{$caption-lineHeight} + 2 * #{$caption-marginTop});
  max-width: 100%;
}

figure {
  margin: 0;
  & + figure {
    margin-top: 5rem;
    padding-top: 1rem; /* accomodation for on-page anchors */
  }
}
