* {
  font-size: 18px;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rock Salt', $font-family;
}

h1 {
  font-size: 1.75rem;
}

a {
  color: currentColor;
  &:hover,
  &:visited { color: #333; }
  &:focus   { color: #666; }
}

figcaption {
  font-size: $caption-fontSize;
  line-height: $caption-lineHeight;
  margin: $caption-marginTop 0 0;
  text-align: center;
}
