$font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$caption-fontSize: 1.5rem;
$caption-lineHeight: 1.5;
$caption-marginTop: 0.5rem;

$breakpoint: 860px;
